.card {
    -fx-background-radius: 5px;
    -fx-background-color: white;
}

.card.highlight {
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-border-color: #555555;
    -fx-border-style: solid outside;
}

.card:hover {
    -fx-effect: dropshadow(three-pass-box, #555555, 7, 0.1, 0, 0);
}

.titlePane > Button {
    -fx-base: transparent;
}

.card > .title {
    -fx-font-size: 20px;
}

.card > .description {
    /* set the text color to gray */
}