@import "global.css";

.cardList {
    -fx-background-radius: 5px;
}

.cardScroll {
    -fx-background-color: transparent;
}

.cardScroll > * {
    -fx-background-color: transparent;
}

.cardList Button {
    -fx-base: transparent;
    -fx-background-color: transparent;
}

.listTitlePane > Button {
    -fx-opacity: 0.6;
}

.listTitlePane > Button:hover {
    -fx-opacity: 1;
}

.listTitle {
    -fx-font-size: 30px;
    -fx-font-weight: 600;
    -fx-text-fill: black;
}

