.formButton {
    -fx-base: white;
    -fx-background-color: #D9D9D9;
    -fx-text-fill: black;
}

.formButton.deleteButton {
    -fx-background-color: #ff3333;
}

.formButton:hover {
    -fx-background-color: #d2d2d2;
}

.formButton.deleteButton:hover {
    -fx-background-color: #e01b24;
}

.formTextInput {
    -fx-background-radius: 5px;
    -fx-background-color: white;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-border-color: #D9D9D9;
    -fx-border-style: solid outside;
    -fx-prompt-text-fill: #7c7c7c;
}

TextArea.formTextInput .content {
    -fx-background-color: white;
}

.formTextInput:focused {
    -fx-border-color: #7c7c7c;
}

.check-box > .box {
    -fx-background-radius: 5px;
    -fx-background-color: white;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-border-color: #D9D9D9;
    -fx-padding: 4px;
}

.check-box.big > .box {
    -fx-padding: 8px;
}
